<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>


<h2>{{meal.name}}</h2>
<h3>Price (per meal): Euro{{meal.price}}</h3>
<p>Description: {{meal.description}}</p>
<p>Hosted by {{meal.host.username}}</p>

<div id='map' style='width: 400px; height: 300px;'></div>


<h2>Reviews</h2>
<div id='review-box'>
  {{#each meal.reviews}}
  <p>{{content}} <i>{{author.username}}</i></p>
  {{/each}}
</div>

{{#if user}}
<form>
  <label for="message">Add a review</label>
  <input type="text" name='content' id='message'>
  <button type='submit'>Post Your Review</button>
</form>
{{/if}}

{{#if showDelete}}
<a href="/meals/{{meal._id}}/delete">Delete this meal</a>
{{/if}}


<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoib3poYW5uIiwiYSI6ImNrNmdpNW0wejBtajkzbGxycnZteGtjMXUifQ.yg4KXc_Z4OeyRKcY9rnMtw';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [13.405, 52.52], // starting position
    zoom: 9, // starting zoom
    maxBounds: [
      [13.2, 52.4],
      [13.6, 52.65]
    ],
  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  const geolocate = new mapboxgl.GeolocateControl({
    showUserLocation: false,
    trackUserLocation: true
  })

  map.addControl(geolocate, 'top-right'); // show the controls on top right of the map
  let test = true

  const mealId = location.pathname.split("/")[2]
  axios.get(`http://localhost:3000/meals/${mealId}/coordinates`)
    .then(response => {
      let coordinates = response.data;
      if (!coordinates.length) {
        coordinates = map.getCenter();
      }

      const marker = new mapboxgl.Marker(
        { draggable: true }
      );

      market.setLngLat(coordinates);
      marker.addTo(map);

      marker.on("dragend", (data) => {
        const coord = data.target.getLngLat().toArray()
        const mealId = location.pathname.split("/")[2];

        axios.patch(`http://localhost:3000/meals/${mealId}`, { coordinates: coord })
          .then(() => {
            console.log("Meal updated!") //meal is updated here!
          }).catch(err => {
            console.log(err);
          })
      }).catch(err => {
        console.log(err);
      })
    })
</script>


<script src='/javascripts/review.js'></script>