{{#if meals}}
<h1>Meals Near You</h1>
<div class="meal-container">
  <ul>
    {{#each meals}}
    <li><a href="/meals/{{_id}}">{{name}} {{price}} euro</a><img src="{{imgPath}}" </li>
      {{/each}}
  </ul>
</div>

{{else}}
<h1>There are no meals to display</h1>
{{/if}}

<a href="/">Home</a>
{{#if user}}
<a href="/meals/create">Create a meal</a>
{{/if}}