<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>


{{#if meals}}
<h1>Find A Great HomeCooked Meal Near You</h1>
<div class="search-container">
  <form id='filtered'>
    <label for="mealtype">Search by Meal Type</label>
    <select class='select-style' name='mealtype' id="mealtype">
      <option value="Breakfast">Breakfast</option>
      <option value="Brunch">Brunch</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
    </select>
    <input class='button-style' type="submit" value="Submit">
  </form>
  <a id='create-link' class='button-style' href="/meals/create">Host Your Own Meal </a>
</div>

{{!-- {{#if user}}
<p><a id='create-link' class='button-style' href="/meals/create">Click Here </a>to host your own meal!</p>
{{/if}} --}}

<div class="list-map-box">

  <div id="filtered-box">
    <div class="meals-container">
      {{#each meals}}
      <div class="meal-card">
        <a href="/meals/{{_id}}" id='meal-img'><img src="{{image}}" alt=""></a><br>
        <p><a href="/meals/{{_id}}" id='basic-info'>{{name}} </a></p>
      </div>
      {{/each}}
    </div>
    <div class="map-container">
      <div id='map'></div>
    </div>
  </div>
  {{else}}
  <h1>There are no meals to display</h1>
  {{/if}}


</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoib3poYW5uIiwiYSI6ImNrNmdpNW0wejBtajkzbGxycnZteGtjMXUifQ.yg4KXc_Z4OeyRKcY9rnMtw';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [13.3603, 52.5373], // starting position
    zoom: 11, // starting zoom

  });

  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());

  const geolocate = new mapboxgl.GeolocateControl({
    showUserLocation: false,
    trackUserLocation: true
  })

  map.addControl(geolocate, 'top-right'); // show the controls on top right of the map
  let test = true

  axios.get("/meals/coordinates")
    .then(response => {
      console.log(response.data)
      const marker = new mapboxgl.Marker();
      let locations = response.data; // the array of coordinates that we are sending from our backend route
      response.data.forEach(location => {
        console.log("yayyy", location.location.coordinates)
        let marker = new mapboxgl.Marker();
        marker.setLngLat(location.location.coordinates);
        marker.addTo(map);
      });

      const popup = new mapboxgl.Popup({ className: "locationpopup" });
      // popup.setLngLat(map.getCenter());
      popup.setHTML(
        `<div> <a href="/meals">${location.name}</a></div>`
      );
      marker.setPopup(popup);
      marker.on("dragend", data => {
        const coord = data.location.coordinates;
      });

      // marker.on("dragend", (data) => {
      // const coord = data.target.coordinates.getLngLat().toArray()
      // const mealId = location.pathname.split("/")[2]; })


      axios.patch("/meals", { coordinates: coord })
        .then(() => {
          console.log("Meal updated!") //meal is updated here!
        }).catch(err => {
          console.log(err);
        })

    })
</script>